<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fenixblock.dao.KeyPairMapper">

    <select id="getKeyPairById" resultType="java.lang.String">
        select id, user_id, currency_type, private_key, public_key
        from table_block_key_pair
        where user_id = #{userId}
    </select>
</mapper>